# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# test locations
tests/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode or PyCharm settings
.vscode/
.idea/

# macOS and Windows system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Ignore shapefiles and NetCDF outputs by default
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.tif
*.tiff
*.hdf
*.nc

# Ignore temporary .nfs files
.nfs*

# Dependency lock files
poetry.lock
Pipfile.lock

# Notebook-generated output folder (optional)
output/

# Ignore the entire data folder
data/


