asciitree==0.3.3
asttokens==3.0.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1747091499565/work
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1747241408193/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1734433375112/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1749229842835/work
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1728342231186/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1752493286596/work/certifi
cf_xarray @ file:///home/conda/feedstock_root/build_artifacts/cf_xarray_1750549226551/work
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560520483/work
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1725400453617/work
cgen @ file:///home/conda/feedstock_root/build_artifacts/cgen_1750167312318/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1750848229740/work
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1733749956636/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
commonmark==0.9.1
-e git+ssh://git@github.com/mollyjames2/CONNEX.git@b2dea9b1b1ec7e43cc334eee062c6f6e7b056979#egg=connex
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1744743067588/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1734107196509/work
dask @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dask-core_1752524171/work
decorator==5.2.1
defusedxml==0.7.1
distributed @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_distributed_1752539128/work
docopt==0.6.2
docutils==0.21.2
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing==2.2.0
fasteners @ file:///home/conda/feedstock_root/build_artifacts/fasteners_1734943108928/work
fastjsonschema==2.21.1
fiona @ file:///home/conda/feedstock_root/build_artifacts/fiona_1733507421330/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1750113804946/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1752722674086/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1752608696525/work
GDAL @ file:///home/conda/feedstock_root/build_artifacts/libgdal-core_1749420726074/work/build/swig/python
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1751003235284/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
igraph==0.11.9
immutabledict @ file:///home/conda/feedstock_root/build_artifacts/immutabledict_1736377697297/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1733223141826/work
ipython==8.12.3
jedi==0.19.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1751493866021/work
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1746561905891/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1733731066416/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
matplotlib==3.10.3
matplotlib-inline==0.1.7
mistune==3.1.3
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1749813185825/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1753114063/work
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/netcdf4_1745588560712/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numcodecs @ file:///home/conda/feedstock_root/build_artifacts/numcodecs_1728547505063/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1747544640217/work/dist/numpy-2.2.6-cp310-cp310-linux_x86_64.whl#sha256=d6d964caeef85d00073d27cd62b46883d275b3d8162f723f0fcabbd0b3cc3f9d
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1752081716429/work
pandocfilters==1.5.1
parcels @ file:///Users/runner/miniforge3/conda-bld/parcels_1739204335735/work
parso==0.8.4
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
pexpect==4.9.0
pickleshare==0.7.5
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1751481981736/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1747339660894/work
prompt_toolkit==3.0.51
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1740663128538/work
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pymbolic @ file:///home/conda/feedstock_root/build_artifacts/pymbolic_1734644581976/work
pyogrio @ file:///home/conda/feedstock_root/build_artifacts/pyogrio_1746734643367/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1742323235700/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1733821528126/work
PySide6==6.9.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1750239416491/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytools @ file:///home/conda/feedstock_root/build_artifacts/pytools_1752641322465/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454647378/work
pyzmq==27.0.0
ranger-fm==1.9.4
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
rich==12.6.0
rich-cli==1.8.1
rich-rst==1.3.1
roaring-landmask @ file:///home/conda/feedstock_root/build_artifacts/roaring-landmask_1743488963035/work
rpds-py==0.26.0
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1752825721795/work/dist/scikit_learn-1.7.1-cp310-cp310-linux_x86_64.whl#sha256=6481a15c1c72239c9a8c26cac9783d047a628b9bbfb137b73eba1f7f313053b5
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1739790642651/work/dist/scipy-1.15.2-cp310-cp310-linux_x86_64.whl#sha256=9e52bad6c3294d1a5b04a13632118ca2157130603c6c018c2d710162b223b27e
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1747664297394/work
shiboken6==6.9.1
siphash24 @ file:///home/conda/feedstock_root/build_artifacts/siphash24_1744557477477/work/dist/siphash24-1.7-cp310-cp310-linux_x86_64.whl#sha256=13fc15d850d0f85ca1abfe8023ccc82f36d3f00d5ddf7e057e8c9649aa0dc8c2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
soupsieve==2.7
stack-data==0.6.3
svgwrite==1.4.3
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1743515515538/work
texttable==1.7.0
textual==0.1.18
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tinycss2==1.4.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1733736030883/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1748003301700/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets==5.14.3
trajan @ file:///home/conda/feedstock_root/build_artifacts/trajan_1750754781752/work
tree-cli==0.1.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1736692496989/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
wcwidth==0.2.13
webencodings==0.5.1
wget==3.2
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1749743207754/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1745598038694/work
yarg==0.1.9
zarr @ file:///home/conda/feedstock_root/build_artifacts/zarr_1733237197728/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1733261551178/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
